# npm installed packages
node_modules/

# Jest coverage report
coverage/

# Typescript compiled files
dist/

packages/**/*.d.ts
packages/**/*.js

# TypeScript cache
*.tsbuildinfo

/tmp

### Visual Studio Code ###
.vscode
