### Custom npm ignores ###

/src

.eslintignore
.eslintrc.js
.prettierignore
.prettierrc

.github/
.husky/

jest.config.json
jest.dist.config.json

tsconfig.dev.json
tsconfig.json
tsconfig.prod.json

### End Custom npm ignores ###

# Jest coverage report
coverage/

# Typescript incremental build info
tsconfig.incremental.tsbuildinfo

# npm installed packages
node_modules/

### Visual Studio Code ###
.vscode

### Custom ignores

# TypeScript cache
*.tsbuildinfo

/tmp

