name: build
on:
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'packages/**/*.ts'
      - 'package-lock.json'
    types:
      - closed
      - opened
      - reopened
      - synchronize
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: "!(github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == false)"
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install cuaklabs dependencies
        run: npm run build:ci

      - name: Lint source files
        run: npm run lint

      - name: Compile source files
        run: npm run build:ci:test

      - name: Get current git commit hash
        id: get-git-commit-hash
        run: |
          echo "::set-output name=gitCommitHash::$(git rev-parse HEAD)"

      - uses: actions/cache@v2
        id: ts-build-cache
        with:
          path: |
            ./dist
            ./node_modules/@cuaklabs
          key: ts-build-${{ steps.get-git-commit-hash.outputs.gitCommitHash }}
          restore-keys: |
            ts-build-${{ steps.get-git-commit-hash.outputs.gitCommitHash }}

  test-coverage:
    name: Test with coverage
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Get current git commit hash
        id: get-git-commit-hash
        run: |
          echo "::set-output name=gitCommitHash::$(git rev-parse HEAD)"

      - uses: actions/cache@v2
        id: ts-build-cache
        with:
          path: |
            ./dist
            ./node_modules/@cuaklabs
          key: ts-build-${{ steps.get-git-commit-hash.outputs.gitCommitHash }}
          restore-keys: |
            ts-build-${{ steps.get-git-commit-hash.outputs.gitCommitHash }}

      - name: Build on cache miss (cuaklabs dependency files)
        run: npm run build:ci
        if: ${{ !steps.ts-build-cache.outputs.cache-hit }}

      - name: Build on cache miss (test files)
        run: npm run build:ci:test
        if: ${{ !steps.ts-build-cache.outputs.cache-hit }}

      - name: Launch Tests and generate coverage report
        run: npm run test:js:ci:coverage

      - name: Upload coverage to Codecov (base branch)
        uses: codecov/codecov-action@v2
        with:
          flags: cuaktask,iocuak
          override_branch: ${{ github.base_ref }}
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}

      - name: Upload coverage to Codecov (branch)
        uses: codecov/codecov-action@v2
        with:
          flags: cuaktask,iocuak
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ !(github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true) }}
